<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.5/dist/htmx.min.js"
      integrity="sha384-t4DxZSyQK+0Uv4jzy5B0QyHyWQD2GFURUmxKMBVww9+e2EJ0ei/vCvv7+79z0fkr"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const toggleButton = document.querySelector("#toggle-sidebar-btn");
        const sidebar = document.querySelector("#sidebar");
        toggleButton?.addEventListener("click", () => {
          sidebar.classList.toggle("hidden");
        });
      });
    </script>
    <link rel="stylesheet" href="/static/styles.css" />
    <title>LinguaMate</title>
  </head>
  {{ template "body.html" . }}
</html>
